# Placebo to force the folder to be copied for the test runners.
# Also ensures the json files are correctly formatted.

[*]
end_of_line = crlf
insert_final_newline = true

[*.json]
indent_style = space
indent_size = 2
